DATABASE_URL="postgresql://neondb_owner:npg_x3ZamOtAsVS1@ep-sweet-river-a8h39d70-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=5000
APP_URL=http://localhost:3000
BETTER_AUTH_SECRET=1LK872qSIr0DYhDr94FkdGYXsHqR8otC
BETTER_AUTH_URL=http://localhost:5000
